<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Challenge Register Game</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="/js/script.js" defer></script>
</head>

<body style="background-color: #333; color: #fff;">
  <div class="container">
    <h1>Formulário de Cadastro</h1>

    <form id="form-register">
      <label for="name">Nome:</label>
      <input type="text" id="name" name="name" required><br>

      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" required><br>

      <label for="telephone">Telefone:</label>
      <input type="tel" id="telephone" name="telephone"><br>

      <label>Quero ser do grupo:</label>
      <div class="group-elements">
        <div style="display: flex;">
          <input type="radio" id="justice" name="groupType" value="JUSTICE_LEAGUE" required>
          <label for="justice" style="margin-bottom: 0px;">Liga da Justiça</label>
        </div>

        <div style="display: flex;">
          <input type="radio" id="avengers" name="groupType" value="AVENGERS" required>
          <label for="avengers" style="margin-bottom: 0px;">Os Vingadores</label>
        </div>
      </div>


      <div class="group-elements">
        <button class="button-cl" type="button" id="register">Cadastrar</button>
        <button class="button-cl" type="button" id="listar" onclick="loadListRegisters()">
          Listar Cadastrados
        </button>
      </div>
    </form>
  </div>

  <!-- Modal to display list of registrations -->
  <div class="modal" id="listRegistersModal" tabindex="-1" aria-labelledby="listRegistersModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="color: #444;" id="listRegistersModalLabel">Lista de Cadastros</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table id="list-registers">
            <thead>
              <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Codename</th>
                <th>Grupo</th>
              </tr>
            </thead>
            <tbody>
              <!-- The data will be filled in here using JavaScript -->
            </tbody>
        </div>
      </div>
    </div>
  </div>
</body>

</html>